<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>California Housing Price Predictor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>California Housing Price Predictor</h1>
    <form action="/predict" method="post">
      <input type="number" step="any" name="longitude" placeholder="Longitude" required>
      <input type="number" step="any" name="latitude" placeholder="Latitude" required>
      <input type="number" step="any" name="housing_median_age" placeholder="Median Age" required>
      <input type="number" step="any" name="total_rooms" placeholder="Total Rooms" required>
      <input type="number" step="any" name="total_bedrooms" placeholder="Total Bedrooms" required>
      <input type="number" step="any" name="population" placeholder="Population" required>
      <input type="number" step="any" name="households" placeholder="Households" required>
      <input type="number" step="any" name="median_income" placeholder="Median Income" required>
      <select name="ocean_proximity" required>
    <option value="NEAR BAY">Near Bay</option>
    <option value="<1H OCEAN">Less than 1H Ocean</option>
    <option value="INLAND">Inland</option>
    <option value="NEAR OCEAN">Near Ocean</option>
    <option value="ISLAND">Island</option>
</select>

      <button type="submit">Predict</button>
    </form>

    {% if prediction_text %}
    <p class="result">{{ prediction_text }}</p>
    {% endif %}
  </div>
</body>
</html>
